# Ignore Python virtual environments
venv/
env/
__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore local development settings
settings.ini

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/
*.pydevproject

# Ignore system-specific files
.DS_Store
Thumbs.db
